<div class="min-h-screen flex items-center justify-center w-full dark:bg-gray-200">
    <div class="bg-white shadow-md rounded-lg px-8 py-6 max-w-md">
        <h1 class="text-2xl font-bold text-center mb-4 ">Register</h1>
        <div class="flex justify-center items-center">
            <img src="assets/icon.png" alt="Icon" class="h-8 me-3" />
        </div>

        <div class="text-rose-500 text-sm text-center" *ngIf="isError">
            This email is existed!
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Your Email Address</label>
                <span class="text-xs text-gray-600">Enter your email to register a new
                    account</span>
                <input type="email" id="email" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    placeholder="your@email.com" required formControlName="email">
                <div class="text-rose-500 text-sm" *ngIf="(registerForm.get('email')?.errors?.['email'] && registerForm.controls['email'].touched)">
                    This field must be email!
                </div>
                <div class="text-rose-500 text-sm" *ngIf="(registerForm.get('email')?.errors?.['required'] && registerForm.controls['email'].touched)">
                    Email is required!
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700 mb-2">Password</label>
                <input type="password" id="password" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    placeholder="Enter your password" required formControlName="password">

                <div class="text-rose-500 text-sm" *ngIf="(registerForm.get('password')?.errors?.['required'] && registerForm.controls['password'].touched)">
                    Password is required!
                </div>
                <div class="text-sm text-rose-500" *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.controls['password'].dirty">
                    The password must be at least 3 characters!
                </div>
            </div>
            <div class="mb-4">
                <label for="confirm-password" class="block text-sm font-medium text-gray-700 mb-2">Confirm Password</label>
                <input type="password" id="confirm-password" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    placeholder="Enter your password" required formControlName="repassword">

                <div class="text-rose-500 text-sm" *ngIf="(registerForm.get('repassword')?.errors?.['required'] && registerForm.controls['repassword'].touched)">
                    Password is required!
                </div>
                <div class="text-sm text-rose-500" *ngIf="registerForm.get('repassword')?.errors?.['minlength'] && registerForm.controls['repassword'].dirty">
                    The password must be at least 3 characters!
                </div>
                <div class="text-sm text-rose-500" *ngIf="registerForm.hasError('passwordMismatch')">
                    Passwords do not match!
                </div>
            </div>
            <div class="flex items-center justify-between mb-4">
                <a routerLink="/auth/login" class="text-xs text-indigo-500 hover:text-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Have an account?
                    <strong>Login</strong></a>
            </div>
            <button type="submit" [disabled]="!registerForm.valid" [ngClass]="{'disabled-button': !registerForm.valid}"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Register
            </button>
        </form>
    </div>
</div>